html {
    background-image: url("/images/11.jpg");
    background-size: cover;
    background-repeat: repeat;
}

nav {
    width: 100%;
    text-align: center;
    position: fixed;
    background: rgba(123, 0, 2, 0.78);
    padding: 15px;
}

nav span a {
    color: #F89E11;
    padding-right: 20px;
    text-decoration: none;
}

#leftBar {
    float: left;
}

#leftBar a {
    text-decoration: none;
    color: #F8F8F8;
}

#leftBar a:hover {
    color: #FF0000;
}

#central {
}

.rightBar {
    float: right;
}

p {
    color: #F89E11;
    text-align: center;
}


.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: -1em;
    background:rgba(123, 0, 2, 0.78);
    text-align: center;
    padding: 20px;
}
.footer a {
    text-decoration: none;
    color: #F89E11;
}

#content {
    text-align: center;
    color:red;
    min-height: 100%;
}


.images {
    height: 20%;
    width: 25%;
}
.imageDiv {
    float: left;
    padding-left: 100px;
}

/* ---------- upload form -------------- */
.form {
    position: relative;
    margin:10% 10%;
    padding: 10px 10px;
    max-width:370px;
    background:rgba(123, 0, 2, 0.78);
    border-radius:50px;
}
.custom-file-upload {
    border: 1px solid #F89E11;
    display: inline-block;
    margin:0 20px;
    padding: 6px 12px;
    cursor: pointer;
    color:#F89E11;
    width:200px;
    border-radius:20px;
}
.custom-file-upload:hover {
    color: red;
}
#sub {
    display: none;
}
.custom-submit {
    border: 1px solid #F89E11;
    display: inline-block;
    margin:0 20px;
    padding: 6px 12px;
    cursor: pointer;
    color:#F89E11;
    width:200px;
    border-radius:20px;
}
.custom-submit:hover {
    color: red;
}
/* --------------- ContactUs Form----------------- */

.form-group {
    color: #F89E11;
    font-size: 15px;
}
.textareaClass {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #F89E11;
    background-color: transparent;
    border-color: #F89E11;
    width: auto;
}
.textareaClass:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: transparent;
    border-color: red;
}

input[type="text"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 260px;
    height: 30px;
    color: #F89E11;
    background-color: transparent;
    border-color: #F89E11;
}
input[type="text"]:hover {
    background-color: transparent;
    border-color: red;
}

.checkbox {
    float: left;
    padding-left: 32%;
    margin-bottom: 10px;
}

.checkbox .tag {
    color: #F89E11;
    display: block;
    float: right;
    font-weight: bold;
    width: 120px;
}

.checkbox .tag:hover {
    color: red;
    cursor: pointer;
}

.checkbox .input-assumpte {
    display: none;
}
.input-assumpte + label {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #F89E11;
    padding: 5px;
    display: inline-block;
    position: relative;
}
.input-assumpte:checked + label {
    background-color: #F89E11;
    color: red;
}

.btn {
    display: inline-block;
    margin: 10px 20px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: transparent;
    border-color: #F89E11;
    color:#F89E11;
    width:180px;
    border-radius:5px;
}
.btn:hover {
    background-color: transparent;
    border-color: red;
    color:red;
}
::-webkit-input-placeholder {color:#F89E11;}
::-moz-placeholder          {color:#F89E11;}/* Firefox 19+ */
:-moz-placeholder           {color:#F89E11;}/* Firefox 18- */
:-ms-input-placeholder      {color:#F89E11;}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

div.hr {
    height: 5px;
    background:  red no-repeat scroll center;
    border-radius: 5px;
    width: 70%;
    margin: auto;
}
div.hr hr {
    display: none;
}

/* ------------ submitData --------------- */

#submitData {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    font-size: large;
}
input[type="file"] {
    display:none;
}
.custom-file-upload {
    border: 1px solid #F89E11;
    display: inline-block;
    margin:10 20px;
    padding: 6px 12px;
    cursor: pointer;
    color: #F89E11;
    text-align: center;
    width:200px;
    border-radius:5px;
}
.custom-file-upload:hover {
    color: red;
    border: 1px solid red;
}

/* ----------- Session messages --------------- */
.alert-info {
    color: #F89E11;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}
#wrapper {
    padding-top: 10%;
}

#blogGreatigs {
    font-size: 20px;
}

#nameBlog {
    color: blue;
    text-align: center;
    font-size: 30px;
}

.postedByText {
    color: floralwhite;
}
.pagination span {
    font-size: 20px;
    padding: 5px;
}
.pagination span a {
    padding: 5px;
    text-decoration: none;
    color: floralwhite;
}

.postFoot {
    font-size: small;
    color: floralwhite;
    text-align: center;
}
#nameBloger {
    color: #FF0000;
    text-align: center;
    font-size: 20px;
}